.album-display {
  overflow: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.album-header {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 400px;
  background: linear-gradient(
    to bottom,
    rgb(85, 85, 85) 0%,
    rgba(18, 18, 18, 0.7) 100%
  );
}

.album-header > h1 {
  font-weight: bold;
  letter-spacing: 2px;
  margin: 10px 0;
  font-size: 4rem;
}

.album-text-header {
  font-size: 4rem;
}

.album-art {
  max-width: 200px;
  height: auto;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.4);
}

.header-text {
  flex: 1;
}

.label {
  font-size: 14px;
  color: #888;
}

.grid-container {
  color: rgba(255, 255, 255, 0.856);
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.grid-header {
  font-weight: bold;
  border-bottom: 1px solid #cccccc31;
}

.track {
  display: contents;
  grid-column: 1;
  font-weight: bold;
  font-size: 15px;
}

.track:hover > * {
  background-color: #555555c9;
}

.song-track,
.artist-name,
.song-duration {
  color: #888;
}

.show-album-art {
  max-width: 48px;
  max-height: 48px;
  border-radius: 5px;
}
